html,body {
  height: 95%;
  font-family: Helvetica, Arial, sans-serif;
}

.outer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}
.item {
  flex: none;
  max-width: 50%;
}
.name-title {
  font-family: serif;
  font-weight: bold;
  font-size: 1.75em;
  padding-bottom: 0.5em;
  min-width: 193px;
}

.name:after {
  content: 'Hong Shick Pak';
}
.name:hover:after {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.69em;
  content: '박홍식';
}
.link {
  padding-left: 8px;
  padding-bottom: 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #ddd;
  }
  a {
    text-decoration: none;
    color: #ddd;
  }
  a:hover {
    color: #c96;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #333;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #369;
  }
}
